* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    display: flex;
}

/*Sidebar*/

.sidebar {
    background: rgb(0, 0, 30);
    width: 250px;
    height: 100%;
    position: fixed;
    margin: 0 50px 0 0;
}

.logo {
    background: orangered;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: default;
    -webkit-user-select: none;
}

.logo h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.sidebar ul {
    margin: 40px 0 0 0 ;
}

.sidebar ul li {
    margin: 0 0 50px 60px ;
    list-style: none;
}

.sidebar ul li:last-child {
    position: absolute;
    bottom: 25px;
    left: 25px;
}

.sidebar ul li a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.5s;
}

.sidebar ul li a:hover {
    color: orangered;
}

/*Sidebar-END*/

/*Tasks*/

.add-tasks {
    margin: 0 0 0 0;
}

.add-tasks .top {
    background: #484848;
    width: 1098px;
    height: 50px;
    margin: 0 0 25px 250px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.add-tasks .top input {
    text-indent: 15px;
    width: 970px;
    height: 30px;
    float: left;
    margin: 10px 0px 0 50px;
    border-radius: 10px;
    outline: none;
    cursor: text;
}

.add-tasks .top button {
    background: orangered;
    width: 50px;
    height: 30px;
    cursor: pointer;
    float: right;
    border-radius: 10px;
    position: relative;
    right: 30px;
    top: 11px;
    border: none;
    outline: none;
}

.add-tasks .top button:hover {
    background: rgb(201, 54, 0);
}

.add-tasks .top button a {
    color: 	#ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}

.add-tasks ul li {
    background: #a0a0a0a2;
    width: 1000px;
    height: 40px;
    border-radius: 10px;
    margin: 0 0 10px 300px;
    text-align: center;
    list-style: none;
    cursor: pointer;
    display: flex;
    transition: background 0.1s;
}

.add-tasks ul li:hover {
    background: darkgrey;
}

.add-tasks input {
    background-color: #eee;
    height: 25px;
    width: 25px;
    position: relative;
    margin: 7px 0 0 10px;
    cursor: pointer;
    border: none;
}

.add-tasks ul li span {
    color: white;
    font-size: 24px;
    text-indent: 15px;
    float: left;
    margin: 5px 0 0 0;
    display: block;
    text-overflow: ellipsis;
    width: 1000px;
    overflow: hidden; 
    white-space: nowrap;
}

.tasks{
    position: absolute;
    left: 300px;
    top: 75px;
    cursor: pointer;
}

.tasks ul li {
    list-style: none;
    margin-bottom: 7px;
}

.tasks .title {
    background: grey;
    width: 1000px;
    height: 30px;
    border-radius: 10px;
    padding-top: 5px;
}

.tasks .title p {
    color: white;
    text-indent: 10px;
    margin: 0 0 0 10px;
    font-weight: bold;
}

.tasks .desc {
    background:rgb(0, 0, 30);
    width: 1000px;
    height: auto;
    min-width: 1000px;
    min-height: 25px;
    border-radius: 10px;
    display: none;
}

.tasks .descon {
    display: block;
}

.tasks .desc p {
    color: white;
    text-indent: 10px;
    padding: 15px;
}

/*Tasks-END*/